  <div class = "container">
    <div class = "content-overlap-body">
      <div class= 'banner'>
        <h1 class= 'title'align = "Center"> <b>Academics</b> </h1>
      </div>
      <p class = "bodytext">
        Victoria University intends to offer Undergraduate and Graduate Degree programs in Management, Technology (including an innovative program in Agriculture Technology with focus on yield improvement, food preservation, processing, packaging and marketing of agricultural produce and products), Social Sciences, Applied Arts, Innovation , Health Sciences, Education, Law and Sciences. These programs would be complemented in phases with intensive hands-on approach and internship with institutions at both home and abroad.
        Besides, the core academically-oriented programs, the university offers opportunity for training in Cyber Security and Intelligence (CSI), Solar Engineering (SE), Oil and Gas Process Engineering (OGPE), Maritime Engineering (ME), Civil and Design Engineering (CDE), Automotive Engineering (AE), Meteorology, Forensics, Enterprise Resource Planning (ERP), Strategic Management and Technology Integration (SMTI), Software Applications Development (SAD), Governance, and many other highly sought-after and hands-on programs.
        Exchange programs with selected foreign universities will be included to enable our students to explore the world and learn from others with the ultimate goal of developing their nation. We also intend to run continuing education unit, where professional development programs are offered to professionals, employees, employers, and others in need of quality training. It is envisioned that teaching and non-teaching staff of the university would also be beneficiaries of these professional development programs in addition to external development opportunities that would be made available to them.
      </p>
        <br>
          <div>
            <img src="assets\libinterior.jpg" height="600" width="800" class = "library img-responsive">
          </div>
        <br>
      <p class = "bodytext">
        Research has shown that the global employers have shifted from the conventional approach of hiring based on just credentials, to building an engaging workforce with applied skills and judgment required to make an informed decision that would have a positive effect on the bottom-line. To achieve this, the potential human resources must understand the minds of employers relative to their organizational needs.
        The proposed Victoria University aims to focus on skills-based Canadian-style education, the kind that expands imagination and launches VU students to the world of possibilities. We want to get our students closer to the minds of their future potential employers, by offering the skills comparable to the needs and demands of global employers. But, most importantly, we would encourage each student to strive towards becoming self-reliant by innovation, and to thrive by activating their innate talents.
      </p>
      </div>
    </div>
  </div>

