<div class = "container">
  <div class = "content-body-overlap">
    <div class= 'banner'>
        <h1 class= 'title'align = "Center"> <b> The Campus </b> </h1>
          <div class = "content-overlap">
            <p>
              We plan to turn Victoria University into a world class school , but what is a world class school without a world class campus?
            </p>

          </div>
      </div>
  </div>
</div>