<div class = "container">
  <div class = "content-overlap-body">
    <div class= 'banner'>
        <h1 class= 'title'align = "Center"> <b> The Campus </b> </h1>
            <p> Victoria University will be located in Ilawe Ekiti, South Western Nigeria. Ekiti is the home to highest number of Professors in Nigeria. By number, the city has produced high ranking Government functionaries, Legal Luminaries, Scholars, and Medical Experts.
              Some of the notable Ekiti-born highly influential professionals include: </p> <br>
              <li> Sone Aluko, Hull City Soccer Player</li>
              <li>Sen. Gbenga Aluko, a Politican</li>
              <li>Chief Bode Olowoporoku, Former Minister and Senator of Federal Republic of Nigeria</li>
              <li>Late. Prof. Babalola Borishade, four-times Minsiter in Nigeria</li>
              <li>Chief Femi Falana, Senior Advocate of Nigeria, and a globally respected Human Rights Lawyer</li>
              <li>Barr. Adesina, Senior Advocate of Nigeria</li>
              <li>Governor Kayode Fayemi, Former Governor of Ekiti State</li>
              <li>Rt. Rev. Felix Ajakaye, Catholic Bishop of Ekiti Diocese
              <li>Prophet Ajayi Agbona, World-renowned late Evangelist</li>
              <li>Dr. Ore Orekunrin, British-Nigerian medical doctor and Managing director of Flying Doctors</li>
              <li>Bamidele Olumilua, Vice Chancellor, Ekiti State University</li>
              <li>Oluyemi Kayode, Sprinter and Sports Star</li>
              <li>Falz, Award Winner Musical Artists</li>
              <li>Ayo Fayose, Present Governor, Ekiti State</li>
              <li>Babafemi Ojudu, Current serving Senator, Federal Republic of Nigeria</li>
              <li>Niyi Adebayo, Former Executive Governor, Ekiti State </li>
          </div>
      </div>
  </div>
</div>