  <div class= 'banner'>
    <h1 class= 'title'align = "Center"> Our Campus </h1>
  </div>

<div class="container">
  <div class="content-overlap">
    <p> Victoria University is a proposed world class school , but what would it be without modern ameneties?
    </p>
  </div>
  <div class="image-overlap">
    <img src="assets\artssciencebuild.jpg" />
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="content-overlap-right">
    <h2>Sports Centre.</h2>
    <p> state of the art sports centre.
    </p>
  </div>
  <div class="image-overlap-right">
    <img src="assets\sportscenter.jpg" />
  </div>
</div>
