<div class="panels">
  <div class="panel panel1 overview column-flex ">
    <p class = 'panel_text'>Our Organization</p>
    <p class = 'panel_text'>Learn&nbsp<%= link_to "Here", overview_index_path %>&nbspabout our mission and our vision</p>
  </div>
  <div class="panel panel2 admission column-flex">
    <p class = 'panel_text'>Admission</p>
    <p class = 'panel_text'>Learn&nbsp<%= link_to "Here",admissions_path %>&nbspabout our admission requirements</p>
  </div>
  <div class="panel panel3 about column-flex">
    <p class = 'panel_text'>About Us </p>
    <p class = 'panel_text'>go&nbsp<%= link_to "Here",teachers_path %>&nbspto meet our implimentation team</p>
  </div>
  <div class="panel panel4 academics column-flex">
    <p class="panel_text"> Academics </p>
    <p class='panel_text' > Learn how you can acheive at Victoria University</p>
  </div>

  <div class="panel panel5 campus column-flex">
    <p class = 'panel_text'>Campus </p>
    <p class = "panel_text">See our beautiful campus </p>
  </div>

  <div class = "panel panel6 events column-flex">
    <p class = 'panel_text'> Events </p>
    <p class = 'panel_text'> Code will display latest event link </p>
  </div>

<%# maybe instead we can change it to having  %>
<%# School of Creative Arts & Applied Social Sciences in the panel text where our schools is once clicked %>
<%# maybe use content css %>
  <div class = "panel panel7 schools column-flex">
    <p class = 'panel_text'> Our Schools </p>
    <%= link_to "Home", root_path %>
  </div>

  <div class = "panel panel8 contact column-flex">
    <p class = 'panel_text'> Be part of greatness. Be part of a knowledge-driven economy. Be part of “developed” Nigeria. </p>
    <p class = 'panel_text' >Investor Relations /General Inquiry <br>
    </p>
  </div>
</div>