<div class="wrapper">
  <div class="content">
    <h1 class="font">VICTORIA UNIVERSITY </h1>
    <h3 class="font">PATH TO IMPACT</h3>

    <p class="hoverfont">• To graduate employable, innovative, and entrepreneurial students.<br>
            • To close unemployment gap by providing adequate and employable skills.<br>
            • To build a brighter, stronger, safer and more prosperous Nigeria.<br>
            • To reduce the influx of Nigerian students in pursuit of quality education abroad.<br>
            • To make Nigerian graduates an envy of the world.<br>
            • To attract more foreign students to Nigeria. <br>
    </p>

  </div>
  </div>
</div>




<div class="row">
  <div class="col-lg-8 hme">
          <div class="embed-responsive embed-responsive-16by9" left-padding="20px">
          <iframe class="embed-responsive-item" src="https://player.synq.fm/embed/a1e4c62fde5843a8b5092aca91fde172?skin.active=009ED5"></iframe>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
  <div class="transbox">
  <p class="boxtext">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora doloremque facere quis, molestias dicta! Quidem ullam, dolore assumenda, iste laborum debitis inventore sequi magnam eos tempore recusandae laudantium dignissimos voluptates.Perferendis illo eius provident rem consequatur, sequi eos nulla sit nihil alias sapiente, dolorum natus laboriosam harum consectetur maxime facilis, ipsam commodi</p>
</div>
  </div>
</div>

</body>
</html
