<div class="wrapper">
    <div class="content">
        <h1 class="font">VICTORIA UNIVERSITY </h1>
        <h3 class="font">Our Future is Nigeria's Future.</h3>
        <p class="hoverfont">
        </p>

    </div>
</div>
</div>

<div class="container">
    <div class="content-overlap">
        <h2 align="center">Our Vision:</h2>
        <br>
        <br>
        <br>
        <p>To create a path to impact by offering competitive skills for national development and significant global participation.
        </p>
    </div>
    <div class="image-overlap">
        <img src="assets\vision.jpg" height="600" width="800">
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="content-overlap-right">
        <br>
        <br>
        <br>
        <br>
        <h2>Our Mission:</h2> • To graduate employable, innovative, and entrepreneurial students. • To close unemployment gap by providing adequate and employable skills. • To build a brighter, stronger, safer and more prosperous Nigeria. • To reduce the influx of Nigerian students in pursuit of quality education abroad. • To make Nigerian graduates an envy of the world. • To attract more foreign students to Nigeria.
        </p>
    </div>
    <div class="space">
    </div>
    <div class="image-overlap-right">
        <img src="assets\story.jpg" height="600" width="800">
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="content-overlap">
        <h2 align="center">World Leaders:</h2>
        <br>
        <br>
        <br>
        <p>
            We truly believe Nigeria has the ability to graduate as many leaders as any other country and think its time to show the rest of the world what our students can do.
        </p>
    </div>
    <div class="image-overlap">
        <img src="assets\leaders.jpg" height="600" width="800">
    </div>
</div>

</div>
</body>

</html>
