<div class="wrapper">
    <div class="content">
        <h1 class="font">VICTORIA UNIVERSITY </h1>
        <h3 class="font">En Dios Confio</h3>
        <h5 class="font">Path To Impact</h5>
        <p class="hoverfont">
        </p>

    </div>
</div>
<div class = "emptyhome2"> </div>
<div class="container">
    <div class="content-overlap2">
        <h2 align="center">Our Vision:</h2>
        <p>To create a path to impact by offering competitive skills for national development and significant global participation.
        </p>
    </div>
    <div class="image-overlap">
            <%= (image_tag "faculty_arts.jpg",  class:"img-fluid")%>
    </div>
</div>

<div class = "emptyhome2"> </div>

<div class="container">
    <div class="content-overlap-right">
        <h2>Our Mission:</h2>
            <li> To graduate employable, innovative, and entrepreneurial students.</li> <br>
            <li> To close the unemployment gap by providing adequate and employable skills.</li> <br>
            <li> To build a brighter, stronger, safer and more prosperous Nigeria.</li> <br>
            <li> To stem the exodus of Nigerian students that are in pursuit of quality education abroad.</li> <br>
            <li> To make Nigerian graduates an envy of the world.</li> <br>
            <li> To attract more foreign students to Nigeria.</li> <br>
    </div>
    <div class="image-overlap-right">
        <%= (image_tag "faculty_applied.jpg",class:"img-fluid")%>
    </div>
</div>

<div class = "emptyhome2"> </div>


<div class="container">
    <div class="content-overlap">
    <h2 align="center">World Leaders:</h2>

<p>
We truely believe Nigeria has the ability to graduate as many leaders as any other country and think its time to show the rest of the world what our students can do.
</p>
</div>
<div class="image-overlap">
    <%= (image_tag "faculty_social.jpg", class:"img-fluid")%>
</div>

</div>
</body>

</html>
