<div class="panels">
  <div class="panel panel1 overview column ">
    <p class = 'panel_text'>Learn about our vision for Nigeria's future</p>
    <p class = 'panel_text'>Our Organization</p>
    <p class = 'panel_text'>About Victoria U</p>
  </div>
  <div class="panel panel2 admission column">
    <p class = 'panel_text'>Become part of our story </p>
    <p class = 'panel_text'>Admission</p>
    <p class = 'panel_text'>Our Admission Policy</p>
  </div>
  <div class="panel panel3 about column">
    <p class = 'panel_text'>Meet</p>
    <p class = 'panel_text'>the implimentation team</p>
    <p class = 'panel_text'>behind the project</p>
  </div>
  <div class="panel panel4 academics column">
    <p class="panel_text"> Acheivement & </p>
    <p class="panel_text"> Academics </p>
    <p class='panel_text' > at Victoria University</p>
  </div>

  <div class="panel panel5 campus column">
    <p class = 'panel_text'>Our Beautiful</p>
    <p class = 'panel_text'>Campus </p>
    <p class = "panel_text">in Ekiti, Nigeria </p>
  </div>

  <div class = "panel panel6 events column">
    <p class = 'panel_text'> code will display latest event headline </p>
    <p class = 'panel_text'> Events </p>
    <p class = 'panel_text'> code will display latest event link </p>
  </div>

<%# maybe instead we can change it to having  %>
<%# School of Creative Arts & Applied Social Sciences in the panel text where our schools is once clicked %>
<%# maybe use content css %>
  <div class = "panel panel7 schools column">
    <p class = 'panel_text'> School of Natural & Applied Sciences </p>
    <p class = 'panel_text'> Our Schools </p>
    <p class = 'panel_text'> School of Management & Technology <br>
  </div>

  <div class = "panel panel8 contact column">
    <p class = 'panel_text'> General Inquiry</p>
    <p class = 'panel_text'>Contact Us </p>
    <p class = 'panel_text' >Investor Relations <br>
    </p>
  </div>
</div>