<div class="panels">
  <div class="panel panel1 overview">
    <p> </p>
    <p>Our Vision</p>
    <p>Our Mission</p>
  </div>
  <div class="panel panel2 admission">
    <p> </p>
    <p>Admission</p>
    <p>Our Admission Policy </p>
  </div>
  <div class="panel panel3 about">
    <p> </p>
    <p>About Us</p>
    <p>The team behind the school</p>
  </div>
  <div class="panel panel4 academics">
    <p> </p>
    <p> Academics</p>
    <p> Acheivement at Victoria University</p>
  </div>

  <div class="panel panel5 campus">
    <p>Our</p>
    <p>Campus </p>
    <p>In motion</p>
  </div>

  <div class = "panel panel6 events">
    <p> </p>
    <p> Events </p>
    <p> The latest from Victoria U </p>
  </div>

  <div class = "panel panel7 schools">
    <p> School of Natural & Applied Sciences </p>
    <p> School of Management & Technology </p>
    <p> School of Creative Arts & Applied Social Sciences </p>
  </div>

  <div class = "panel panel8 contact">
    <p> Contact Us </p>
    <p> Investor Relations</p>
  </div>
</div>