<div class="container">
  <div class = 'contact-us'>
    <div class="content-overlap-contact">
      <%=( image_tag "administration.jpg", class: "img-fluid")%>

      <h2>Contact Us</h2>
        <p> For Investment information call: <br>
          +234-90-9090-1237 or +1-416-444-6268 <br> <br>
            For legal contact:+234-80-3631-2690 <br>
            For partnership: +234-81-6522-7142 <br>
            <b> or email us at </b> <br>
            president@ocmtontario.ca <b> or </b> info@abasterconsulting.com for further information.
          </p>
        </div>
    </div>
  <div class ="empty"> </div>
</div>