<h1>Contact#index</h1>
<p>Find me in app/views/contact/index.html.erb</p>

<div class="container">
  <div class="content-overlap">
    <h2>Contact Us</h2>
<p>
For investment information call:
      +234-90-9090-1237
            or
      +1-416-444-6268 <br>
For legal contact:
      +234-80-3631-2690 <br>
For partnership: <br>
      +234-81-6522-7142

</p>
  </div>
  <div class="image-overlap">
    <img src="assets\administration.jpg"  >
  </div>
</div>
