<%# This code is whew yomis uploaded teachers go -> I.e The types what he wants and then it automatically gets added to the website-this is the part where the visitor can see it %>

<%= render :partial => "teachers/teacher_admin_panel" %>

  <div class= 'banner'>
    <h1 class= 'title'align = "Center"> <b> Our implementation team </b> </h1>
  </div>

<% if current_user.try(:admin?) %>
<h1> Notice: Photos should be 720px x 720px to keep the photos circular on upload.</h1>
<%end%>
<div class = "bodycontent">
  <div class="container">
    <div class="content-overlap">
      <h2 align = "Center"> Yomi Olalere </h2>
        <p> Yomi Olalere is the Founder and President, Ontario College of Management and Technology (OCMT), Toronto Canada, and primary promoter of Victoria University initiative. OCMT is an accredited and approved post-secondary and post-graduate institution by the Ministry of Training, Colleges and Universities. He is the Founder, Abaster Consulting Firm, Toronto. A seasoned Enterprise Management Strategy Expert, Yomi had a prior consulting experience Technology and Management space, having consulted for both public and private enterprises including Siemens Telecommunications, Bombardier Aerospace, IBM, Bearing Point (Now Deloitte), Treasury Board of Canada, Department of Justice Canada, Bank of Canada, Canada Border Services Agency, and many other multinational corporations. Yomi has background in Economics, Commerce and Law. He brings to the team strategic direction, objective setting, project execution, tertiary institution management, and leadership and people management skills.
      </p>
    </div>
    <div class="image-overlap">
      <img src="assets\yomi_circle.jpg" class ="img-circle" />
    </div>
  </div>
  <br> <br> <br> <br>
  <div class="container">
    <div class="content-overlap-right">
      <h2 align ="Center">Professor Leonard Shilgba.</h2>
      <p> Professor Leonard Shilgba is an erudite scholar, a great Mathematician, Computer Scientist, who currently has dual assignments as the Head of Department, Mathematics and Statistics and the appointed Chairman, National Business and Technical Education Board, Nigeria. Professor Shilgba serves on the Academic Committee and University Administration.
      </p>
    </div>
    <div class="image-overlap-right">
      <img src="assets\leo_circle.jpg" class ="img-circle"/>
    </div>
  </div>
  <br> <br> <br> <br>

  <div class="container">
    <div class="content-overlap">
      <h2 align = "Center"> Prof. Samuel Ilenre Omokhodion, </h2>
        <p> a Professor of Pediatrics and Pediatric Cardiologist at the University of Ibadan practices at the University College Hospital, Ibadan. He has been head of department and served the University in several other capacities. He brings a wealth of experience from international collaboration in teaching, research and service having served as Secretary General of the Pan African Society of Cardiology and Chair of the Pan African Network of Pediatric Cardiologists. He has also chaired the curriculum development committees for sub-specialty training in pediatric Cardiology for both the West African College of Physicians and the National Postgraduate Medical College of Nigeria. Prof. Omokhodion serves in Academic Committee. </p>
    </div>
    <div class="image-overlap" height= "800px" >
      <img src="assets\omok_circle.png" class ="img-circle" />
    </div>
  </div>
  <br> <br> <br> <br>


  <div class="container">
    <div class="content-overlap-right">
      <h2>Prof. Nana Nwojo</h2>
      <p> Prof. Nana Nwojo is an American-trained Mathematician and Scientist. He is currently the Head of Department at one of the private Turkish-Nile University in Nigeria. Professor Nwojo serves as the member of Academic Committee.
      </p>
    </div>
    <div class="image-overlap-right">
      <img src="assets\nwojo_circle.jpg" class ="img-circle" />
    </div>
  </div>
  <br>

  <div class="container">
    <div class="content-overlap">
      <h2 align = "Center">Prof. Yakubu Ochefu </h2>
        <p> Prof. Yakubu Ochefu is the siting Vice Chancellor, at the community-owned University, Kwararafa University, a well decorated international Developmental Economist and a Visionary. Professor Ochefu serves as the member of Academic Committee, and Strategy.
        </p>
    </div>
    <div class="image-overlap">
      <img src="assets\blank.png" class ="img-circle"/>
    </div>
  </div>
  <br>

  <div class="container">
    <div class="content-overlap-right">
      <h2>Dr.Tunde Fagbamigbe.</h2>
      <p>Dr. Tunde Fagbamigbe is Certified and Registered Surveyor, currently serving as the Managing Director/Founder, Geodetic Technologies Limited. Having served as the Deputy Surveyor General of Oyo State, Dr. Fagbamigbe is the current serving Vice President, Nigerian Institute of Surveyors, and a Fellow, Nigeria Institute of Surveyors. His position on the team include overseeing surveying activities, layout, land matters, and compliance.
      </p>
    </div>
    <div class="image-overlap-right">
      <img src="assets\blank.png"class="img-circle" />
    </div>
  </div>
  <br>

  <div class="container">
    <div class="content-overlap">
      <h2 align = "Center"> Prof. Christopher Bankole Ndubisi Ogbogbo </h2>
      <p>Prof. Christopher Bankole Ndubisi Ogbogbo is a Lawyer, and an Academic at the Department of History, University of Ibadan. He combines is scholastic position with volunteering role as the National President, Historical Society of Nigeria. Professor Ogbogbo serves on the Academic team and member of the Board of Trustees.
      </p>
    </div>
    <div class="image-overlap">
      <img src="assets\blank.png"class="img-circle" />
    </div>
  </div>
  <br>

  <div class="container">
    <div class="content-overlap-right">
      <h2 align ="Center">Dr.Alfred Tofade</h2>
      <p> Dr. Alfred Tofade is the co-founder of the Nigerian Initiative for Economic Development, and simultaneously serves on the board of Africa Leadership Congress, an organization of Core Leaders of Africa in the US. Dr. Tofade graduated from University of Ife, and an alumnus of the Harvard Business School.
      </p>
    </div>
    <div class="image-overlap-right">
      <img src="assets\blank.png" class="img-circle"/>
    </div>
  </div>
  <br>


  <div class="container">
    <div class="content-overlap">
      <h2 align ="Center"> Dr. Muhammad Ali (Board Member) </h2>
      <p>Dr Muhammad Ali (Board Member) currently serves as the Executive Director, Center for Human Resource Development and Empowerment Initiative in Kaduna, where he has freely trained over four thousand indigenes on various trades. Dr. Ali serves on Government relations, policies and compliance committee.
      </p>
    </div>
    <div class="image-overlap">
      <img src="assets\blank.png" class="img-circle" />
    </div>
  </div>
  <br>


  <div class="container">
    <div class="content-overlap-right">
      <h2 align ="Center">Senator Abdulfatai Buhari</h2>
      <p>
  Senator Abdulfatai Buhari is a respected member of Nigeria National Assembly, and a current Federal Senator of the Federal Republic of Nigeria. Prior to his current responsibilities, he was a member of Federal House of Representatives (2003-2007), and the Managing Director of Abapat. Senator Buhari serves on Government relations, policies and compliance committee.
      </p>
    </div>
    <div class="image-overlap-right">
      <img src="assets\blank.png" class="img-circle" />
    </div>
  </div>
  <br>


  <div class="container">
    <div class="content-overlap">
      <h2 align ="Center"> Barrister Femi Motojesi </h2>
      <p>Barrister Femi Motojesi is Legal Practioner and the Principal Partner at Femi Motojesi & Co. He serves as the member of the legal team.
      </p>
    </div>
    <div class="image-overlap">
      <img src="assets\blank.png" class ="img-circle" />
    </div>
  </div>
  <br>


  <div class="container">
    <div class="content-overlap-right">
      <h2 align ="Center"> Robert Williams </h2>
      <p> Robert Williams is currently a Senior Vice President & Country Head of a global Scotia Bank in Dominican Republic. He began his career as a Senior Manager with the same bank, before he joined an investment firm in El Salvador as their Chief Administrative Officer. He serves as a Financial Advisor on the Finance team.
      </p>
    </div>
    <div class="image-overlap-right">
      <img src="assets\blank.png" class ="img-circle" />
    </div>
  </div>
  <br>


  <div class="container">
    <div class="content-overlap">
      <h2 align ="Center"> Seun Ileola</h2>
      <p> Seun Ileola is a Chartered Accountant and Head of Finance Division of a major IT firm in Nigeria. She is a member of Institute of Chartered Accountants of Nigeria (ICAN). She serves as a member of the Finance team.
      </p>
    </div>
    <div class="image-overlap">
      <img src="assets\blank.png" class ="img-circle" />
    </div>
  </div>
  <br>


  <div class="container">
    <div class="content-overlap-right">
      <h2 align ="Center"> Judith Nwobi </h2>
      <p> Judith Nwobi is the founder and CEO of an emerging Business Management firm in Lagos, and responsible for the business development and marketing activities of the proposed Victoria University. An Economics Graduate from Benson Idahosa University, Judith has headed Business Development, Human Resources and Marketing for major organizations including Oil and Gas, and Professional firms.
      </p>
    </div>
    <div class="image-overlap-right">
      <img src="assets\judith_circle.jpg" class ="img-circle" />
    </div>
  </div>
  <br>


  <div class="container">
    <div class="content-overlap">
      <h2 align ="Center"> Titi Atekoja </h2>
      <p> Titi Atekoja is a veteran Project Manager, and a Management Executive of over 10 years. He serves on IT Project Management team. An Executive MBA holder from University of Western Ontario and currently serves as an IT Project Manager for a retail firm.
      </p>
    </div>
    <div class="image-overlap">
      <img src="assets\blank.png" class ="img-circle" />
    </div>
  </div>
  <br>


  <div class="container">
    <div class="content-overlap-right">
      <h2 align ="Center"> Buki Adepitan </h2>
      <p> Buki Adepitan is an executive in the Banking Industry having managed various banking assignments for community banking in over 10 years of her career. Buki is a Relationship Executive, who is versed in various aspects of money management. She serves in the capacity of investment relations. A graduate of Obafemi Awolowo University, Buki is versed in relationship management and Human capital development.
      </p>
    </div>
    <div class="image-overlap-right">
      <img src="assets\blank.png" class ="img-circle" />
    </div>
  </div>
  <br>

  <div class="container">
    <div class="content-overlap">
      <h2 align ="Center"> Funsho Ogunjobi </h2>
      <p> Funsho Ogunjobi is a multi-talented professional and media personality. Currently On-Air Personality and Newscaster on Television and Radio, and the voice of the Broadcasting Corporation of Oyo State. A graduate of Computer Science from the University of Lagos, and holder of IT certifications, Funsho is responsible for media production, broadcast, newsletter and public relations. 
      </p>
    </div>
    <div class="image-overlap">
      <img src="assets\blank.png" class ="img-circle" />
    </div>
  </div>
  <br>
</div>