<%# This code is whew yomis uploaded teachers go -> I.e The types what he wants and then it automatically gets added to the website-this is the part where the visitor can see it %>
<%= render :partial => "teachers/teacher_admin_panel" %>

<div class="container">
  <div class="content-overlap">
    <h2 align = "Center"> Yomi Olalere </h2>
      <p> Yomi Olalere is the Founder and President, Ontario College of Management and Technology (OCMT), Toronto Canada, and primary promoter of Victoria University initiative. OCMT is an accredited and approved post-secondary and post-graduate institution by the Ministry of Training, Colleges and Universities. He is the Founder, Abaster Consulting Firm, Toronto. A seasoned Enterprise Management Strategy Expert, Yomi had a prior consulting experience Technology and Management space, having consulted for both public and private enterprises including Siemens Telecommunications, Bombardier Aerospace, IBM, Bearing Point (Now Deloitte), Treasury Board of Canada, Department of Justice Canada, Bank of Canada, Canada Border Services Agency, and many other multinational corporations. Yomi has background in Economics, Commerce and Law. He brings to the team strategic direction, objective setting, project execution, tertiary institution management, and leadership and people management skills.
    </p>
  </div>
  <div class="image-overlap">
    <img src="assets\yomi.jpg" />
  </div>
</div>
<br>
