<%# This code is whew yomis uploaded teachers go -> I.e The types what he wants and then it automatically gets added to the website-this is the part where the visitor can see it %>
<%= render :partial => "teachers/teacher_admin_panel" %>

<div class="container">
  <div class="content-overlap">
    <h2 align = "Center"> Yomi Olalere </h2>
      <p> Yomi Olalere is the Founder and President, Ontario College of Management and Technology (OCMT), Toronto Canada, and primary promoter of Victoria University initiative. OCMT is an accredited and approved post-secondary and post-graduate institution by the Ministry of Training, Colleges and Universities. He is the Founder, Abaster Consulting Firm, Toronto. A seasoned Enterprise Management Strategy Expert, Yomi had a prior consulting experience Technology and Management space, having consulted for both public and private enterprises including Siemens Telecommunications, Bombardier Aerospace, IBM, Bearing Point (Now Deloitte), Treasury Board of Canada, Department of Justice Canada, Bank of Canada, Canada Border Services Agency, and many other multinational corporations. Yomi has background in Economics, Commerce and Law. He brings to the team strategic direction, objective setting, project execution, tertiary institution management, and leadership and people management skills.
    </p>
  </div>
  <div class="image-overlap">
    <img src="assets\yomi.jpg" />
  </div>
</div>
<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

<div class="container">
  <div class="content-overlap-right">
    <h2 align ="Center">Professor Leonard Shilgba.</h2>
    <p> Professor Leonard Shilgba is an erudite scholar, a great Mathematician, Computer Scientist, who currently has dual assignments as the Head of Department, Mathematics and Statistics and the appointed Chairman, National Business and Technical Education Board, Nigeria. Professor Shilgba serves on the Academic Committee and University Administration.
    </p>
  </div>
  <div class="image-overlap-right">
    <img src="assets\leo_shilgba.jpg" />
  </div>
</div>
<br>

<div class="container">
  <div class="content-overlap">
    <h2 align = "Center"> Prof. Samuel Ilenre Omokhodion, </h2>
      <p> a Professor of Pediatrics and Pediatric Cardiologist at the University of Ibadan practices at the University College Hospital, Ibadan. He has been head of department and served the University in several other capacities. He brings a wealth of experience from international collaboration in teaching, research and service having served as Secretary General of the Pan African Society of Cardiology and Chair of the Pan African Network of Pediatric Cardiologists. He has also chaired the curriculum development committees for sub-specialty training in pediatric Cardiology for both the West African College of Physicians and the National Postgraduate Medical College of Nigeria. Prof. Omokhodion serves in Academic Committee. </p>
  </div>
  <div class="image-overlap" height= "800px" >
    <img src="assets\omok.png" />
  </div>
</div>
<br>


<div class="container">
  <div class="content-overlap-right">
    <h2>Prof. Nana Nwojo</h2>
    <p> Prof. Nana Nwojo is an American-trained Mathematician and Scientist. He is currently the Head of Department at one of the private Turkish-Nile University in Nigeria. Professor Nwojo serves as the member of Academic Committee.
    </p>
  </div>
  <div class="image-overlap-right">
    <img src="assets\nwojo.jpg" height= "800px" float"right" />
  </div>
</div>
<br>

<div class="container">
  <div class="content-overlap">
    <h2 align = "Center">Prof. Yakubu Ochefu </h2>
      <p> Prof. Yakubu Ochefu is the siting Vice Chancellor, at the community-owned University, Kwararafa University, a well decorated international Developmental Economist and a Visionary. Professor Ochefu serves as the member of Academic Committee, and Strategy.
      </p>
  </div>
  <div class="image-overlap">
    <img src="assets\blank.png" />
  </div>
</div>
<br>

<div class="container">
  <div class="content-overlap-right">
    <h2>Dr.Tunde Fagbamigbe.</h2>
    <p>Dr. Tunde Fagbamigbe is Certified and Registered Surveyor, currently serving as the Managing Director/Founder, Geodetic Technologies Limited. Having served as the Deputy Surveyor General of Oyo State, Dr. Fagbamigbe is the current serving Vice President, Nigerian Institute of Surveyors, and a Fellow, Nigeria Institute of Surveyors. His position on the team include overseeing surveying activities, layout, land matters, and compliance.
    </p>
  </div>
  <div class="image-overlap-right">
    <img src="assets\blank.png" />
  </div>
</div>
<br>

<div class="container">
  <div class="content-overlap">
    <h2 align = "Center"> Prof. Christopher Bankole Ndubisi Ogbogbo </h2>
    <p>Prof. Christopher Bankole Ndubisi Ogbogbo is a Lawyer, and an Academic at the Department of History, University of Ibadan. He combines is scholastic position with volunteering role as the National President, Historical Society of Nigeria. Professor Ogbogbo serves on the Academic team and member of the Board of Trustees.
    </p>
  </div>
  <div class="image-overlap">
    <img src="assets\blank.png" />
  </div>
</div>
<br>

<div class="container">
  <div class="content-overlap-right">
    <h2 align ="Center"></h2>
    <p> Dr. Alfred Tofade is the co-founder of the Nigerian Initiative for Economic Development, and simultaneously serves on the board of Africa Leadership Congress, an organization of Core Leaders of Africa in the US. Dr. Tofade graduated from University of Ife, and an alumnus of the Harvard Business School.
    </p>
  </div>
  <div class="image-overlap-right">
    <img src="assets\blank.png" />
  </div>
</div>
<br>


<div class="container">
  <div class="content-overlap-right">
    <h2 align ="Center"> Dr. Muhammad Ali (Board Member) </h2>
    <p>Dr Muhammad Ali (Board Member) currently serves as the Executive Director, Center for Human Resource Development and Empowerment Initiative in Kaduna, where he has freely trained over four thousand indigenes on various trades. Dr. Ali serves on Government relations, policies and compliance committee.
    </p>
  </div>
  <div class="image-overlap-right">
    <img src="assets\blank.png" />
  </div>
</div>
<br>


<div class="container">
  <div class="content-overlap-right">
    <h2 align ="Center"></h2>
    <p>
    </p>
  </div>
  <div class="image-overlap-right">
    <img src="assets\blank.png" />
  </div>
</div>
<br>


<div class="container">
  <div class="content-overlap-right">
    <h2 align ="Center"></h2>
    <p>
    </p>
  </div>
  <div class="image-overlap-right">
    <img src="assets\blank.png" />
  </div>
</div>
<br>


<div class="container">
  <div class="content-overlap-right">
    <h2 align ="Center"></h2>
    <p>
    </p>
  </div>
  <div class="image-overlap-right">
    <img src="assets\blank.png" />
  </div>
</div>
<br>


<div class="container">
  <div class="content-overlap-right">
    <h2 align ="Center"></h2>
    <p>
    </p>
  </div>
  <div class="image-overlap-right">
    <img src="assets\blank.png" />
  </div>
</div>
<br>


<div class="container">
  <div class="content-overlap-right">
    <h2 align ="Center"></h2>
    <p>
    </p>
  </div>
  <div class="image-overlap-right">
    <img src="assets\blank.png" />
  </div>
</div>
<br>


<div class="container">
  <div class="content-overlap-right">
    <h2 align ="Center"></h2>
    <p>
    </p>
  </div>
  <div class="image-overlap-right">
    <img src="assets\blank.png" />
  </div>
</div>
<br>
<div class="container">
  <div class="content-overlap-right">
    <h2 align ="Center"></h2>
    <p>
    </p>
  </div>
  <div class="image-overlap-right">
    <img src="assets\blank.png" />
  </div>
</div>
<br>


<div class="container">
  <div class="content-overlap-right">
    <h2 align ="Center"></h2>
    <p>
    </p>
  </div>
  <div class="image-overlap-right">
    <img src="assets\blank.png" />
  </div>
</div>
<br>


<div class="container">
  <div class="content-overlap-right">
    <h2 align ="Center"></h2>
    <p>
    </p>
  </div>
  <div class="image-overlap-right">
    <img src="assets\blank.png" />
  </div>
</div>
<br>

<div class="container">
  <div class="content-overlap-right">
    <h2 align ="Center"></h2>
    <p>
    </p>
  </div>
  <div class="image-overlap-right">
    <img src="assets\blank.png" />
  </div>
</div>
<br>

<div class="container">
  <div class="content-overlap-right">
    <h2 align ="Center"></h2>
    <p>
    </p>
  </div>
  <div class="image-overlap-right">
    <img src="assets\blank.png" />
  </div>
</div>
<br>