<div class = "container">
	<div class = "content-overlap-body">
    <div class= 'banner'>
    	<h1 class= 'title'align = "Center"> <b>Our Schools </b> </h1>
    </div>
    <p class = "schoolbody" align = "center">Victoria University opens with three (3) pioneer Schools, namely, School of Natural and Applied Sciences, School of Management and Technology, and School of Creative Arts and Applied Social Sciences.  Our promise is to equip each student with educational, social, and technological skills that would offer them competitive advantage in and outside of Nigeria. VU students will enjoy similar or advanced services offered to Nigerians studying abroad, but more importantly, they would have the opportunity to explore the world with the aim of learning, and competing with other students from ivy league institutions.
        Our style of education is rooted in getting the minds of employers into our curriculum by offering our students skill-based education that promotes self-reliance, innovation and start-ups. We are different from other institutions in vision, mission, curriculum development, policies, academic strategy, organizational structure, social approach and style, delivery system, capacity expansion and retention strategy. At Victoria University, we know it is not just enough to expand capacity, we must build a cohesive team that work together synergistically to source opportunities for our students before they even graduate. From Campus to Career, VU will always be there to support its students.
    </p>
	   <%=(image_tag "fancy_university_library_design.jpg", class: "img-responsive center-block col-sm")%>
      	<ul class = "schoollist col-sm">
      	    <h3> Special skills for better Opportunities and Career Growth </h3>
      	    <li> Cyber Security Research Centre | Center for Seniors' Care and Pensioners</li>
      	    <li> African Institute for Urban Policing and Safe Communities</li>
      	    <li> Research Center on Smart Manufacturing Practices</li>
      	    <li> Advancement Center for Technology and Management Programs</li>
      	    <li> Centre for Crowd Control, Public Safety and Disaster Management</li>
      	    <li> Centre for Alternative Finance | Centre for Internet of Things (IoT)</li>
      	    <li> Centre for Applied DNA Research | Justice Administration and Para-legal Studies</li>
      	    <li> 3-D Design and Printing Centre | Sound Engineering and Music Technology</li>
      	    <li> Interactive and Digital Media | Hydrophonics and Irrigation</li>
      	</ul>

          <p align ="center" >We will also be offering exchange programs with “Good Standing” universities abroad & internships with domestic and International organizations including Fortune 500s, SMEs, and NGOs. </p>
      </div>
  </div>
</div>

<!--remove pre/change it to a div to change formatting -> setting something as pre means retaining the formatting it was pasted in.
