div.tranbox {
    margin: 30px;
    background-color: none;
    
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
  }
  
  div.tranbox .botext {
    margin: 5%;
    font-weight: normal;
    color: #ece3e3;
    font-family: 'Nanum Pen Script', cursive;
    height: 300px;
    font-size: 30px;
    
  
  }

  .headings{
      font-family: 'Courier New', Courier, monospace;
      color: aqua;
      font-size: 50px;
  }


  /*Button Style*/

  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic);

*{margin: 0px; padding: 0px}









.button-three{
  text-align: center;
  cursor: pointer;
  font-size:24px;
  margin: 0 0 0 100px;
}



/*Button Three*/
.button-three {
    position: relative;
    background-color: #f39c12;
    border: none;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

.button-three:hover{
   background:#fff;
   box-shadow:0px 2px 10px 5px #97B1BF;
   color:#000;
}

.button-three:after {
    content: "";
    background: #f1c40f;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button-three:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.sub-main{
    align:"right";
}

.img{
    padding-top: 130px;
}

/* END OF BUTTON STYLE*/
 
.bdy{
    height: 500px;
    background-image: url("/assets/us2.jpg");
    background-size: cover;
    background-repeat: no-repeatfont;
    
}

.vis{
    padding-top: 200px;
}
