div.tranbox {
    margin: 30px;
    background-color: none;
    
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
  }
  
  div.tranbox .botext {
    margin: 5%;
    font-weight: normal;
    color:#424242;
    font-family: 'opensans';
    height: 300px;
    font-size: 30px;
    
  
  }

  .headings{
      font-family: 'Courier New', Courier, monospace;
      color: aqua;
      font-size: 50px;
  }


.vis{
    padding-top: 400px;
}

.img{
    padding-top: 200px;
}

.teamimg{
    width: 347px;
    height: 516px;
    object-fit: fill
}



/*   Teacherds  */

.image-overlap{
    z-index: 1;
}