.image { 
  position: relative; 
  width: 100%; /* for IE 6 */
  padding-top: 30px;
}

.heading2{ 
  position: absolute; 
  top: 200px; 
  left: 0; 
  width: 100%; 
}

h2 span { 
  color: white; 
  font: bold 24px/45px Helvetica, Sans-Serif; 
  letter-spacing: -1px;  
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px; 
}





body {
  font-family: Trebuchet MS, Arial, sans-serif;
  margin: 0;
  paddging: 0;
}

.banner {
  background: #dbdbdb;
  color: #fff;
  width: 100%;
  z-index: 0;
}

p{
  color: black;
  font-family: 'Courier New', Courier, monospace;
}
.title {
  background: url('https://goo.gl/TTahD4') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  /* text-transform: uppercase; */
  font-family: Braggadocio, Phosphate, Impact, Arial, sans-serif;
  font-size: 11.5vw;
  font-weight: bold;
  line-height: 1em;
  margin: 0;
  padding: 80px 0 0;

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  
  background-clip: text;
}



.academic-para p{
  padding-top: 30px;
  font-family: 'Oswald', sans-serif;
}

.title{
  z-index: 1;
}

