.admissionbody {
    background: rgb(245, 244, 239);
    width: 90%;
    position: relative;
    top: 80px;
    padding: 60px;
    margin-left: 5%;
    margin-right: 5%;
}

.reares {
  justify-content: space-around;
  margin-left: 25%;
  margin-right: 25%;
}