// Place all the styles related to the admission controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.somesection {margin-top:50px!important;}
body {font-size:17px;
font-family:Helvetica Neue;}
img{max-width:100%;}

.overlay-text {
  font-size:20px;
  float:right;
/*important*/
  bottom:21vw; /*important*/
  padding: 25px;
  background:#f7f7f7;
  width:1000px;
}