* {
    box-sizing: border-box;
  }

  ul {
    padding-left: 0px;
    list-style: none;
  }

  .messages-list {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .message-sent {
    position: relative;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    margin: 5px 20px;
    padding: 10px;
    float: right;
  }

  .message-received {
    background-color: #F1F0F0;
    border-color: #EEEEEE;
    margin: 5px 20px;
    padding: 10px;
    float: left;
  }
  .logins {
    color: wheat
  }

  .admincontrol {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .admincontrol > .btn-primary > a {
    color: white;
  }

  .userpanel {
    width: 20%;
    height: 80%;
    border: 1px solid blue;
  }

  .userpanel > .col-md-3 {
    width: 100%;
  }

  a.dropdown-toggle{
    color: red;
  }

  .dropdown-toggle {
    font-family: 'Shrikhand', cursive;
    font-color: #fbac13;
  }

  .stickyproposal {
    background-color: #ff871f;
    text-align: center;
    overflow: hidden;
    color: white;


  }

  .sticky {
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 1;
 }

 .navbar-nav > li > a {
   padding-top: 40px;
   padding-bottom: 15px;
   padding-right: 50px;
 }


  h2 {
    color: #DA7B29;
    font-size: 222%;
    font-weight: bold;
    margin-top: 0
  }
  img {
    max-width: 100%;
  }
  .container {
    position: relative;
    max-width: 1200px;
  }
  .content-overlap {
    background: rgb(245, 244, 239);
    width: 40%;
    position: absolute;
    top: 80px;
    padding: 60px;
  }

  .content-overlap-right {
    background: rgb(245, 244, 239);
    width: 40%;
    position: absolute;
    bottom: 80px;
    right : 0px;
    padding: 60px;

  }
  .content-overlap:before {
    content: "";
    border: 2px solid rgba(171, 154, 124, 1.0);
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
  }

  .content-overlap-right:before {
    content: "";
    border: 2px solid rgba(171, 154, 124, 1.0);
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;

  }
  .image-overlap {
    width: 70%;
    float: right;
  }

  .image-overlap-left {
    width: 70%;
    float: left;
  }
  @media screen and (max-width: 480px) {
    .content-overlap {
      position: relative;
      width: 100%;
    }
    .image-overlap {
      width: 100%;
    }

    .content-overlap-right {
      position: relative;
      width: 100%;
    };
    .image-overlap-right {
      width: 100%;
    }
  }

  .footie {
    margin-top: 20px;
    display: flex;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: black;
    color:wheat;
    text-align: center;
  }

  .content-overlap-body {
    background: rgb(245, 244, 239);;
    top: 80px;
    padding: 60px;
  }

  .content-overlap-body-right {
    background: rgb(245, 244, 239);
    bottom: 80px;
    right : 0px;
    padding: 60px;
  }

  .bodytext {
    color: black;
    }