/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


/*

give the element a class name and its going to have to be adjusted work well. 
only YOMI will see all the users and multiple conversation windows.

li {
display: inline-block;
width: 33%;
} 

*/
li {
  
}

ul {
  padding-left: 0px;
  list-style: none;
}

.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}

.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}
.logins {
  color: wheat;
}

.admincontrol {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;

}