.empty {
    margin: 150px;
}

.image-overlap {
    padding-top: 40px;
    max-width: 100%;
}

.content-overlap {
    bottom: 1vh;
    margin: -200px;
}

.image-overlap > .contact > img {
    max-width: 700px;
}
.contact {
    margin-top: 10vh;
}
