html {
  box-sizing: border-box;
  background:#ffc600;
  font-family:'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}
body {
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.panels {
  min-height:70vh;
  max-height:70vh;
  overflow: hidden;
  display: flex;
}
.panel {
  background:#6B0F9C;
  box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
  color:white;
  text-align: center;
  align-items:center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */


  // this i think is the part i have to figure out to make a smaller font when the element is clicked
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  font-size: 15px;
  background-size:cover;
  background-position:center;
  flex: 2;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.panel1 { background-image:url(https://source.unsplash.com/ITjiVXcwVng/1500x1500); }
.panel2 { background-image:url(https://source.unsplash.com/ITjiVXcwVng/1500x1500); }
.panel3 { background-image:url(https://source.unsplash.com/ITjiVXcwVng/1500x1500); }
.panel4 { background-image:url(https://source.unsplash.com/ITjiVXcwVng/1500x1500); }
.panel5 { background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }
.panel6 { background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }
.panel7 { background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }
.panel8 { background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }
.panel9 { background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }

.panel > * {
  margin:0;
  width: 100%;
  transition:transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Allows bottom and top panel to come down for words to join when the panel is clicked
.panel > *:first-child {transform: translateY(-100%);}
.panel.open-active > *:first-child {transform: translateY(0);}
.panel > *:last-child {transform: translateY(100%);}
.panel.open-active > *:last-child {transform: translateY(0);}
.panel p {
  text-transform: uppercase;
  text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 1em;
}
.panel p:nth-child(2) {
  font-size: 1em;
}

// adjust font size when a panel is clicked.
.panel.open {
  font-size:30px;
  flex: 5;
}

