html {
  box-sizing: border-box;
  background:#ffc600;
  font-family:'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}
body {
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.panels {
  min-height:70vh;
  max-height:70vh;
  max-width: 100vw;
  min-width: 100vw;
  overflow: hidden;
  display: flex;
}

// the even selector will affect all text on the bottom when the flex element is selected.
.panel_text:first-child {
  background:rgba(255,255,255, 0.5);
  display: flex;
}

.panel_text:nth-child(even) > a {
  text-decoration: none;
}
// the odd selector will affect all text on the top when the flex element is selected
//  & the clear panel that it is before it is clicked

.panel_text:nth-child(2) {
  background:rgba(255,255,255, 0.5);
  display: flex;
}

.panel_text:last-child {
  background:rgba(255,255,255, 0.5);
  display: flex
}


.panel {
  background:rgba(255,255,255, 0);
  box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
  color: black;
  text-align: center;
  align-items:center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  // this i think is the part i have to figure out to make a smaller font when the element is clicked
  font-size: 15px;
  background-size:cover;
  background-position:center;
  flex: 1;
  justify-content: center;
  display: flex;
}

.column-flex {
  flex-direction: column;
  transition:
  font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
  flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
  background 0.2s;
}

.row-flex {
  flex-direction: row-reverse;
  flex: 0.7s
}

.panel1 { background-image:url(homebg.jpg); }
.panel2 { background-image:url(faculty_social.jpg); }
.panel3 { background-image:url(yomi_circle.jpg); }
.panel4 { background-image:url(libinterior.jpg); }
.panel5 { background-image:url(schooloftech.jpg); }
.panel6 { background-image:url(campus.jpg); }
.panel7 { background-image:url(faculty_applied.jpg); }
.panel8 { background-image:url(univ.jpg); }

.panel > * {
  margin:0;
  width: 100%;
  transition:transform 1.0s;
  // transition: transform affects the speed at which the
  //  text transforms when the panel is clicked (in this case bring the text into view)
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Allows bottom and top panel to come down for words to join when the panel is clicked
.panel > *:first-child {transform: translateY(-100%);}
.panel.open-active > *:first-child {transform: translateY(0);}
.panel > *:last-child {transform: translateY(100%);}
.panel.open-active > *:last-child {transform: translateY(0);}

.panel p {
  text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 1em;
}
.panel p:nth-child(2) {
  font-size: 1em;
}

// adjust font size when a panel is clicked.
.panel.open {
  font-size:30px;
  flex: 5;
}

.header_panel {
  flex-direction: row;
}