html {
  box-sizing: border-box;
  font-family:'helvetica neue';
  font-weight: 200;
}

body {
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.panels {
  justify-content: center;
  min-height:70vh;
  max-height:70vh;
  overflow: hidden;
  display: flex;
  background-color: #737373;

}

p.panel_text {
  background:rgba(150,150,150, 0.5);
  display: flex;
  color: white;
}

p.panel_text:first-child {
  font-size: 4vh;
}

.panel.panel1.overview.column-flex {
  margin-left: 1%;
}

.panel.panel8.contact.column-flex {
  margin-right: 1%;
}

a.panel_text {
  background:rgba(150,150,150, 0.5);
  text-decoration: none;
  color: white;
}

// the odd selector will affect all text on the top when the flex element is selected
//  & the clear panel that it is before it is clicked

.panel {
  background:rgba(255,255,255, 0);
  box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
  color: black;
  text-align: center;
  align-items:center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  // this i think is the part i have to figure out to make a smaller font when the element is clicked
  background-size:cover;
  background-position:center;
  flex: 1;
  justify-content: center;
  display: flex;
}

.column-flex {
  flex-direction: column;
  transition:
  font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
  flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
  background 0.2s;
}

.row-flex {
  flex-direction: row-reverse;
  flex: 0.7s
}

.panel1 { background-image:url(homebg.jpg); }
.panel2 { background-image:url(faculty_social.jpg); }
.panel3 { background-image:url(yomi_circle.jpg); }
.panel4 { background-image:url(libinterior.jpg); }
.panel5 { background-image:url(schooloftech.jpg); }
.panel6 { background-image:url(campus.jpg); }
.panel7 { background-image:url(faculty_applied.jpg); }
.panel8 { background-image:url(univ.jpg); }

.panel > * {
  margin:0;
  width: 100%;
  transition:transform 1.0s;
  // transition: transform affects the speed at which the
  //  text transforms when the panel is clicked (in this case bring the text into view)
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Allows bottom and top panel to come down for words to join when the panel is clicked
.panel > *:first-child {
  transform: translateY(0);
}

.panel.open-active > *:first-child {
  transform: translateY(-110%);
}

.panel > *:last-child {
  transform: translateY(110%);
}
.panel.open-active > *:last-child {
  transform: translateY(0);
}

.panel.panel7.schools.column-flex > :first-child {
margin-bottom: -145%;
}

.panel.panel7.panel.open-active > :first-child {
margin-bottom: 0%;
}

.panel.panel7.schools.column-flex > :nth-child(2) {
  transform: translateY(210%);
}

.panel.panel7.panel.open-active > :nth-child(2){
  transform: translateY(0);
  display: flex;
}

.panel.panel7.schools.column-flex > :nth-child(3) {
  transform:translateY(-110%);
  display: none;
}
.panel.panel7.panel.open-active > :nth-child(3){
  transform: translateX(0);
  display: flex;
}

.panel p {
  text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
}


// adjust font size when a panel is clicked.
.panel.open {
  font-size:30px;
  flex: 5;
}

.header_panel {
  flex-direction: row;
}


@media screen and (max-width: 480px) {


.panel {
  background:rgba(255,255,255, 0);
  box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
  color: black;
  text-align: center;
  align-items:center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  // this i think is the part i have to figure out to make a smaller font when the element is clicked
  background-size:cover;
  background-position:center;
  flex: 1;
  justify-content: center;
  display: flex;
  font-size: 3em;
}

p.panel_text {
  font-size: -webkit-xxx-large;
}

.column-flex {
  flex-direction: row;
  display: flex;
  transition:
  font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
  flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
  background 0.2s;
}

.row-flex {
  flex-direction: row;
  flex: 0.7s
}

.schools:last-child {
  font-size: 100px;
}
}