// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{ background-image:linear-gradient(rgba(48, 23, 15, 0.65),
    rgba(47, 23, 15, 0.65)),
    url("/assets/bg.jpg") ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;

}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;


    overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: centre;
    top: 0;
    left: 0;
    width: 800px;
    height: 500px;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

  .wrap {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #120103;
    color: #fff;
    text-align: center;
  }

  header {
    background: #3e474f;
    box-shadow: 0 0.5em 1em #111;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
  }

  header label {
    color: #788188;
    cursor: pointer;
    display: inline-block;
    line-height: 4.25em;
    font-size: 1em;
    font-weight: bold;
    padding: 0 1em;
  }

  header label:hover {
    background: #2e353b;
  }

  .slide {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-color: #120103;
    background-position: 50% 50%;
    background-size: cover;
    transition: left 0s 0.75s;
  }

  .slide-one {
    background-image: url(https://placeimg.com/1000/480/any);
  }

  .slide-two {
    background-image: url(https://placeimg.com/1000/600/any);
  }

  .slide-three {
    background-image: url(https://placeimg.com/1200/480/any);
  }

  .slide-four {
    background-image: url(https://placeimg.com/800/600/any);
  }

  [id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
  }

  .slide h1 {
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.5s 0.5s, opacity 0.5s;
  }

  [id^="slide"]:checked + .slide h1 {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s 0.5s;
  }




