// Place all the styles related to the investors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-overlap-body {
  margin-right: 1%;
  margin-left: 1%;
}

.investors-header{
  font-size: 5vh;
}