<div class="container">
  <div class="content-overlap">
    <h2>Becoming a Vic U student.</h2>
    <p>
    </p>
  </div>
  <div class="image-overlap">
    <img src="assets\ultramodernadminblock.jpg" height="450" width="800">
  </div>
</div>
<br>
<br>