"<div class="container">
  <div class="admissionbody">
    <h2 align ="Center">General Admission Requirements.</h2>
    <p>
    </p>
  </div>
  <div class="image-overlap">
    <img src="assets\ultramodernadminblock.jpg" height="350" width="800">
  </div>
</div>
<p class = "admissionbody">
Application to any program at Victoria University (VU) may differ depending on the program admission requirements. Interested applicants can apply to VU Programs under three categories: As a High school applicant, as a Mature applicant, or as an applicant Transferring from another College or University.

High School Applicants: Depending on the admission requirements for the program you are interested in, a High School Diploma, including Transcript showing your grades must be presented. See your interested program for any additional admission requirements.

Mature Student: Applicants with no High School Diploma can apply as Mature student as long as the applicant is age 19 or older. As a Mature applicant, you will need to pass an entrance exam on English and Mathematics with a score of 65% and above if the program of interest requires Senior Student Level (SSL) 3 English and Mathematics in order to meet minimum admission requirements for any program. If the program of interest requires other compulsory Senior Student Level (SSL) 3 subjects (e.g. in Biology, Chemistry, or Physics), a transcript showing your successful completion of the subjects must be provided. See your interested program for any additional admission requirements.
</p>

    <img class="reares" src="assets\research_resource_centre.jpg" height="350" width="300">

<p class = "admissionbody">
NOTE: You may be required to write an entrance exam if you are applying to highly-sought-after programs to demonstrate best qualified applicants for the programs.

Transfers: VU understands that applicants who have already begun their programs at another post secondary institution may decide to transfer to the University to continue the same program or another for various reasons. However, the courses taken will have to be assessed to determine if it meets same requirement of our courses. It is the applicant’s responsibility that they have met all course requirements in their programs before transfer. The following documents will have to be submitted:

    Official Transcript

    Course Outlines

    Internationally assessed credentials if courses were obtained outside of the country. A World Education Service (WES) assessment report will be required. Please inform WES to send the assessed report directly to us.

    If language of instruction is not in English, a certified translation of the original transcript will be required. This must be signed, sealed, and mail to us otherwise they will not be accepted.

If the transferred courses are granted, a Transfer Credit (TC) code will be assigned. All TCs are not included as part of calculating GPA.

Non-English-Speaking Applicants: All programs at VU is taught in English language. Therefore, every applicant interested in applying to any program must demonstrate ability to understand, communicate, write, and read in English language. For all applicants with first language in another dialect other than English or language of instruction in their secondary school is different from English, an English test, such as TOEFL, PTE, and IELTS must be completed with expected grades as follow:

TOEFL: 580

PTE: 60

IELTS: 6.5 </p>

</div>