
<%# STRIPE CHECKOUT STEP 1) HERE -> The customer arrives at your payment page that includes the Checkout code, loaded over HTTPS. %>
<div class = 'container form-group'>
  <%= form_tag charges_path do %>
    <div id="error_explanation">
      <% if flash[:error].present? %>
        <p><%= flash[:error] %></p>
      <% end %>
    </div>
    <article>
    <%# figure out how to add a class and other attributes here - then grab bootstrap form classes to upgrade the front end.
     https://getbootstrap.com/docs/4.0/components/forms/? %>
      <%= label_tag(:amount, 'Donation Amount:') %>
      <%= text_field_tag(:amount) %>
    </article>
</div>
<%# The customer clicks the payment button (e.g., Pay with Card), completes the payment form, and clicks Pay $9.99 within the Checkout window (or whatever your Checkout pay button is). %>
  <script src="https://checkout.stripe.com/checkout.js"></script>

<button id="donateButton">Donate</button>

<script>
var handler = StripeCheckout.configure({
  key: 'pk_test_XvXaEOdYJkcmxoXIa3GzJHRB',
  image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
  locale: 'auto',

  token: function(token) {
    var hiddenField = document.createElement( 'input' );
    hiddenField.setAttribute( 'type', 'hidden' );
    hiddenField.setAttribute( 'name', 'stripeToken' );
    hiddenField.value = token.id;

    document.querySelector( 'form' ).submit();

    // You can access the token ID with `token.id`.
    // Get the token ID to your server-side code for use.
  }
});

document.getElementById('donateButton').addEventListener('click', function(e) {
  // Open Checkout with further options:
  handler.open({
    name: 'Victoria University',
    description: 'Donation',
    currency: 'cad',
    amount: `${amount}`
  });
  e.preventDefault();
});
// above we change the amount to a custom imput
// Close Checkout on page navigation:
window.addEventListener('popstate', function() {
  handler.close();
});

$('#donateButton').on('click', function(e) {
  e.preventDefault();

  $('#error_explanation').html('');

  var amount = $('input#amount').val();
  amount = amount.replace(/\$/g, '').replace(/\,/g, '')

  amount = parseFloat(amount);

  if (isNaN(amount)) {
    $('#error_explanation').html('<p>Please enter a valid amount in USD ($).</p>');
  }
  else if (amount < 5.00) {
    $('#error_explanation').html('<p>Donation amount must be at least $5.</p>');
  }
  else {
    amount = amount * 100; // Needs to be an integer!
    handler.open({
      amount: Math.round(amount)
    })
  }
  $(window).on('popstate', function() {
  handler.close();
});
});

</script>


<% end %>

<!-- see if there is a test card that would submit the payment if the card says
yes and goes to the controller and make the event dynamic - that handler.open amount needs to be
customized (so we can show the new data in the popup which has to be read from the enviroment -->

