<br> <br> <br> <br>
<p class = "footie"> Victoria University 2018 </p>

<% if current_user.try(:admin?) %>
  <div class="row">
  <div class="col-md-9">
    <ul id="conversations-list">
      <% @conversations.each do |conversation| %>
        <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
      <% end %>
    </ul>
  </div>


<% end %>
