<div class ="footie">
<p>HERE BE THE FOOTER __________________ </p>
</div>
<% if user_signed_in? %>
  <div class="row">
  <div class="col-md-9">
    <ul id="conversations-list">
      <% @conversations.each do |conversation| %>
        <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
      <% end %>
    </ul>
  </div>


<% end %>
