  <div class "adminlogin"> <p>
    <% if user_signed_in? %>
      <%= link_to "Admin Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% end %>
  </div>

  <% if user_signed_in? %>
  <div class="row">
    <div class="col-md-9">ss
     <ul id="conversations-list">
      <% @conversations.each do |conversation| %>
        <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
      <% end %>
    </ul>
  <% end %>
  </div>


  </body>