<div>
	<div class="row" style="text-align:center;">
	</div>
    <!----------- Footer ------------>
    <footer class="footer-bs center">
        <div class="row">
        	<div class="col-md-4 footer-brand animated fadeIn center">
            	<h2 align ="center">Victoria University </h2>
                <p></p>
                <p align = "center">© 2018 Victoria University, All rights reserved</p>
            </div>
        	<div class="col-md-4 footer-nav animated fadeInUp">
            	<h4 align ="center">— Menu —</h4>
            	<div class="col-md-6">
                    <ul class="list" align = "center">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Admission</a></li>
                        <li><a href="#">Academics</a></li>
                        <li><a href="#">Campus</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Schools</a></li>

                    </ul>
                </div>
            	<div class="col-md-6">
                    <ul class="list" align = "center">

                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Terms & Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Signup/Login</a></li>
                    </ul>
                </div>
            </div>
        	<div class="col-md-4 footer-social animated fadeInDown">
                <ul class ="list" align= "center">
                    <h4>—Follow Us—</h4>
                	<li><a href="#">Facebook</a></li>
                	<li><a href="#">Twitter</a></li>
                	<li><a href="#">Instagram </a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>

