
<nav class="navbar navbar-inverse">
   <div class="container-fluid" style="background-color:rgb(112, 111, 111);">
     <div class="navbar-header">
       <img src="logo.jpg" width="200" height="100">
     </div>

     <ul class="nav navbar-nav navbar-right">
         <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/admissions">Admission <span class="caret"></span></a>
           <ul class="dropdown-menu">
             <li id="abcd"><a href="/admissions">Undergrad</a></li>
           </ul>
         </li>

               <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/teachers">About us<span class="caret"></span></a>
           <ul class="dropdown-menu">
             <li><a href="/teachers">Our Leaders</a></li>
             <li><a href="/teachers">Our Teachers</a></li>
           </ul>
         </li>

       <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/academics">Academics<span class="caret"></span></a>
           <ul class="dropdown-menu">
             <li><a href="/academics">Structures</a></li>
             <li><a href="/academics">Management Policies</a></li>
           </ul>
         </li>

         <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/campus">Campus<span class="caret"></span></a>
           <ul class="dropdown-menu">
             <li><a href="/campus">Locations</a></li>
             <li><a href="/campus">Asthetics</a></li>
             <li><a href="/campus">Amenities</a>
             </li>
           </ul>i
         </li>

           <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/events">Events<span class="caret"></span></a>
           <ul class="dropdown-menu">
             <li><a href="/events">Locations</a></li>
             <li><a href="/events">Asthetics</a></li>
             <li><a href="/events">Amenities</a>
             </li>
           </ul>
         </li>


         <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/schools">Schools<span class="caret"></span></a>
           <ul class="dropdown-menu">
             <li><a href="/schools">Natural/Applied Sciences</a></li>
             <li><a href="/schools">Management and Technology</a></li>
             <li><a href="/schools">Creative arts and Applied Social Sciences</a></li>
           </ul>
         </li>
         <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/contacts">Contact Us<span class="caret"></span></a>
           <ul class="dropdown-menu">
             <li><a href="/contacts">Social Media</a></li>
           </ul>
         </li>
       <li><a href="#"><span class="glyphicon glyphicon-user"></span> Interested in Vic University?</a></li>
       <%# above will link to form for people to indicate intrest and send their info below will send to vicrit moogle or w.e%>
       <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
     </ul>
   </div>
 </nav>



</div>

<div >
</body>
