<nav class="navbar navbar-inverse">
  <div class="container-fluid" style="background-color:rgb(112, 111, 111);">
    <div class="navbar-header">
      <img src="assets/logo.jpg" width="200" height="100">
    </div>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav pull-right">

      <li class="nav-item">
        <a class="nav-link" href="/"><b>Home</b></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/admissions"><b>Admission</b></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/teachers"><b>About Us</b></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/academics"><b>Academics</b></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/campus"><b>Campus</b></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/events"><b>Events</b></a>
      </li>
<%# there is a chance this dropdown is not working as it is (nav item dropdown i.e it thinks its a subtab - must check) %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <b>Schools</b>
        </a>

      <li class="nav-item">
        <a class="nav-link" href="/contacts"><b>Contact us </b> </a>
      </li>

<%# if user not signed in allow them to sign up / login %>
    <% if user_signed_in? %>
      <li class="nav-item">
        <a class="nav-link" href="/users/sign_in"> <b>Sign up or login</b></a>
      </li>
    <% end %>
<%# if user is signed in allow them to logout %>

       <% if user_signed_in? %>
       <li class="nav-item">
               <a class ="nav-link">  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> </a>
      <% end %>
    </ul>
  </div>
</nav>