
<div class="container-fluid">
  <%= (image_tag "logo.jpg", size: "190x100", alt: "EL Dios Confio", class:"image-responsive pull-left")%>
  <section class=" panel12 header_panel row">
    <h1> In god I trust <h1>
    <h1> En Dios Confio (this will be made interactive if this design is approved)</h1>
  </section>
</div>
