<nav class="navbar">
  <div class="container-fluid">
      <img src="assets/logo.jpg" width="200" height="100">
    <ul class="navbar-nav pull-right">

      <li class="nav-item">
        <a class="nav-link" href="/"><b>Home</b></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/admissions"><b>Admission</b></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/teachers"><b>About Us</b></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/academics"><b>Academics</b></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/campus"><b>Campus</b></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/events"><b>Events</b></a>
      </li>
<%# there is a chance this dropdown is not working as it is (nav item dropdown i.e it thinks its a subtab - must check) %>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="/schools">Schools
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/naturalappliedsci">School of Natural and Applied Sciences</a></li>
          <li><a href="/mgmttech">School of Management and Technology</a></li>
          <li><a href="/creativeartss">School of Creative Arts and Applied Social Sciences</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/investors"> Investor Relations </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/contacts"><b>Contact us </b> </a>
      </li>

<%# if user not signed in allow them to sign up / login %>

    <li class="nav-item">
      <% if !user_signed_in? %>
        <a class="nav-link" href="/users/sign_in"> <b>Sign up or login</b></a>
      <% else %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% end %>
    </li>

<%# find out how to make a html class work in rails %>

    </ul>
  </div>
</nav>

