<nav class="navbar navbar-inverse">
  <div class="container-fluid" style="background-color:rgb(112, 111, 111);">
    <div class="navbar-header">
      <img src="assets/logo.jpg" width="200" height="100">
    </div>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav pull-right">

      <li class="nav-item">
        <a class="nav-link" href="/"><b>Home</b></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/admissions"><b>Admission</b></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/teachers"><b>About Us</b></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/academics"><b>Academics</b></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/campus"><b>Campus</b></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/events"><b>Events</b></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <b>Schools</b>
        </a>

      <li class="nav-item">
        <a class="nav-link" href="/contacts"><b>Contact us </b> </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/users/sign_in"> <b>Sign up or login</b></a>
      </li>


    </ul>
  </div>
</nav>